.search-bar {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.search-bar input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.search-bar svg {
  cursor: pointer;
}